<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="head :: headFragment">
        <title id="pageTitle">E-Stock Panier</title>
    </head>
    <body class="bg-info">
        <div th:include="navbar :: navbarFragment" ></div>
        <div class="container mt-4">
            <div th:if="${!error.isEmpty()}">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col"> NOM </div>
                <div class="col"> QUANTITE </div>
                <div class="col"> PRIX TOTAL PRODUIT </div>
                <div class="col"> SUPPRIMER </div>
            </div>
            <div th:if="${liste_ligne.empty}">
                Aucun produit n'est dans votre panier !
            </div>
            <div class="row mt-2" th:each="ligne : ${liste_ligne}">
                <div class="col"><span th:text="${ligne.getProduit.getNom()}"> NOM </span></div>
                <div class="col"><span th:text="${ligne.getQuantite()}"> QUANTITE </span></div>
                <div class="col"><span th:text="${ligne.getProduit.getPrix() * ligne.getQuantite()}"> PRIX </span></div>
                <div class="col">
                    <form method="post" action="/supprimerLignePanier">
                        <div class="row justify-content-center">
                            <input id="prodId" name="id_produit" type="hidden" th:value="${ligne.getProduit.id}">
                            <div class="col"><button type="submit" class="btn btn-light"> SUPPRIMER </button></div>
                        </div>
                    </form>
                </div>
                <hr class="border"/>
            </div>
            <div class="row justify-content-center mt-2 mb-2">
                <div><span>Total:</span><span class="ml-1" th:text="${total}"></span></div>
            </div>
            <form method="post" action="/confirmationPanier">
                <div class="row justify-content-center">
                    <button class="btn btn-light"> VALIDER LA COMMANDE </button>
                </div>
            </form>

        </div>
    </body>
</html>