<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="head :: headFragment">
        <title id="pageTitle">E-Stock</title>
    </head>
    <body class="bg-info">
        <div th:include="navbar :: navbarFragment" ></div>
        <div class="container mt-4">
            <div class="mt-2 mb-2 border border-danger rounded p-2 bg-light">
                <div class="row">
                    <div class="col"><span> ID </span></div>
                    <div class="col"><span> NOM </span></div>
                    <div class="col"> PRIX UNITAIRE </div>
                    <div class="col"><span> STOCK </span></div>
                </div>
                <hr class="border-danger"/>
                <div class="row mt-2">
                    <div class="col"><p th:text="${produit.id}"></p></div>
                    <div class="col"><p th:text="${produit.nom}"></p></div>
                    <div class="col"><p th:text="${produit.prix}"></p></div>
                    <div class="col"><p th:text="${stock.quantite}"></p></div>
                </div>
            </div>
        </div>
    </body>
</html>