<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head :: headFragment">
    <title id="pageTitle">E-Stock Products</title>
</head>
<body class="bg-info">
<div th:include="navbar :: navbarFragment"></div>
<div class="container mt-4">
    <div class="row">
        <div class="col"><span> Nom du produit </span></div>
        <div class="col"><span> Quantité </span></div>
        <div class="col"><span> Prix total produit</span></div>
    </div>
    <div class="row" th:each="commandeLigne : ${commande.commandeLignes}">
        <div class="col"><span th:text="${commandeLigne.produit.nom}"> nom </span></div>
        <div class="col"><span th:text="${commandeLigne.quantite}"> quantite </span></div>
        <div class="col"><span th:text="${commandeLigne.produit.prix * commandeLigne.quantite}"> prix </span></div>
    </div>
    <hr class="border border-light"/>
    <div class="row justify-content-center mt-2 mb-2">
        <span>Total: </span>
        <span class="ml-1 mr-1" th:text="${commande.getTotal()}"> total prix </span>
        <span> euros</span>
    </div>
    <div class="row justify-content-center mb-2">
        <div>Commande passée le : <div th:text="${commande.date}"> date </div></div>
    </div>
</div>
</body>
</html>