<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>E-Stock Error</title>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="text-center">
        <img src="/static/images/TooBadASCII.png" th:src="@{/images/TooBadASCII.png}" alt="Error image">
        <p class="text-justify text-center">Une erreur est survenue. Veuillez réessayer ultérieurement, ou contactez les administrateurs du site.</p>
    </div>
</body>
</html>