<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="head :: headFragment">
        <title id="pageTitle">E-Stock</title>
    </head>
    <body class="bg-info">
        <div th:include="navbar :: navbarFragment" ></div>
        <div class="container mb-2">
            <div class="mt-2" th:if="${!command_confirmation.isEmpty()}">
                <div class="alert alert-success" role="alert">
                    <span th:text="${command_confirmation}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-9">
                    <div id="carouselIndex" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/static/images/Books.png" th:src="@{/images/Books.png}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/static/images/Food.png" th:src="@{/images/Food.png}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/static/images/IT.png" th:src="@{/images/IT.png}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndex" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndex" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                    <div class="text-center">
                        <h4>E-Stock est un site d'e-commerce de renommée (pas du tout) mondiale.</h4>
                        <a class="btn btn-light mt-2 mb-5" th:href="@{/listeProduit}" role="button">Venez découvrir nos produits !</a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div th:include="footer :: footerFragment"></div>
    </body>
</html>