<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head :: headFragment">
    <title id="pageTitle">Connexion</title>
</head>
<body class="bg-info">
    <div th:include="navbar :: navbarFragment" ></div>
    <div class="container mt-2 mb-2">
        <div class="row justify-content-center">
            <div class="col-6">
                <div th:if="${!error.isEmpty()}">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                </div>
                <form action="/inscription" method="POST">
                    <div class="form-group">
                        <label for="inputName">Nom:</label>
                        <input type="text" class="form-control" id="inputName" name="nom" placeholder="Votre nom...">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Adresse email: </label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" placeholder="Adresse email...">
                        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons votre adresse email avec personne. Promis !</small>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe: </label>
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Mot de passe...">
                    </div>
                    <hr class="border-light"/>
                    <button type="submit" class="btn btn-light">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>