<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="head :: headFragment">
        <title id="pageTitle">E-Stock Products</title>
    </head>
    <body class="bg-info">
    <div th:include="navbar :: navbarFragment" ></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-6 text-center"><span> NOM </span></div>
            <div class="col-6 text-center"><span> STOCK </span></div>
        </div>
        <div th:if="${listeStock.empty}">
            Aucun produit n'est disponible !
        </div>
        <div class="mt-2 mb-2 border border-danger rounded p-2 bg-light" th:each="stock : ${listeStock}">
            <div class="row">
                <div class="col-6 text-center"><span th:text="${stock.produit.nom}"> NOM </span></div>
                <div class="col-6 text-center"><span th:text="${stock.quantite}"> STOCK </span></div>
            </div>
            <hr class="border-danger"/>
            <div class="row mt-2">
                <div class="col text-center"><a class="btn btn-info" th:href="${'/detailProduit/' + stock.produit.id}" role="button">Voir le détail</a></div>
                <div class="col-6">
                    <form class="form-inline justify-content-between" action="/ajoutPanier" method="post">
                        <input id="prodId" name="id_produit" type="hidden" th:value="${stock.produit.id}">
                        <div class="form-group">
                            <input type="number" class="form-control" id="inputNumber" name="quantite" value="0">
                        </div>
                        <button type="submit" class="btn btn-info ml-2">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>