<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="head :: headFragment">
        <title id="pageTitle">E-Stock Products</title>
    </head>
    <body class="bg-info">
        <div th:include="navbar :: navbarFragment"></div>
        <div class="container">
            <div class="row justify-content-center border-bottom" th:each="commande : ${listeCommandes}">
                <form action="/detailCommande" method="get" class="w-50 form-inline justify-content-center mt-2">
                    <input id="prodId" name="id_commande" type="hidden" th:value="${commande.id}">
                    <div><span>Commande n°</span><span th:text="${commande.id}"> id </span></div>
                    <div class="mr-1 ml-1"><span> passée le </span><span th:text="${commande.date}"> date </span></div>
                    <button type="submit" class="btn btn-light">Detail</button>
                </form>
            </div>
        </div>
    </body>
</html>