<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="head :: headFragment">
        <title id="pageTitle">Inscription à E-Stock</title>
    </head>
    <body class="bg-info">
        <div th:include="navbar :: navbarFragment"></div>
        <div class="container mt-2 mb-2">
            <div class="row justify-content-center">
                <div class="col-6">
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adresse e-mail</label>
                            <input type="email" class="form-control mt-1" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse e-mail">
                        </div>
                        <div class="form-group mt-2">
                            <label for="exampleInputPassword1">Mot de passe:</label>
                            <input type="password" class="form-control mt-1" name="password" id="exampleInputPassword1" placeholder="Mot de passe">
                        </div>
                        <hr class="border-light"/>
                        <button type="submit" class="btn btn-light mt-2">Confirmer</button>
                    </form>
                    <a class="btn btn-light mt-3" th:href="@{/inscription}" role="button">S'inscrire</a>
                </div>
            </div>
        </div>
    </body>
</html>