<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head :: headFragment">
    <title>test</title>
</head>
<body th:fragment="navbarFragment">
    <div class="sticky-top">
        <nav class="nav navbar-dark bg-dark">
            <div class="w-25"></div>
            <div class="w-50 text-center"><a href="/" class="text-white">E-Stock</a></div>
            <div class="w-25 text-right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="toolsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vos outils
                    </button>
                    <div class="dropdown-menu" aria-labelledby="toolsDropdown">
                        <a class="dropdown-item" th:href="@{/panier}">Votre panier</a>
                        <a class="dropdown-item" th:href="@{/listeCommande}">Votre liste de commandes</a>
                        <a class="dropdown-item" th:href="@{/login}">Vous connecter</a>
                        <a class="dropdown-item" th:href="@{/inscription}">S'inscrire</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>